/////////MBTA/////////
.mbta{
  padding-top: 40px;
}

.prediction{
  text-align: center;
  font-size: 2.1rem;
  background-color: var(--card-bg-color);
  border-radius: 10px;
  border: 1px solid var(--flashcard-border-color);
  color: black;
  user-select: none;
}

select{
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.weatherInfo{
  text-align: center;
}

canvas{
  display: block;
  margin: auto;
}

.weatherInfoText{
  font-size: 1.8rem;
  color: var(--header-font-color);
}

#icon1{
  height: 12rem;
  margin: auto;
  display: block;
}
