/////////MBTA/////////
.prediction{
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid black;
}

.weatherInfo{
  text-align: center;
}

canvas{
  display: block;
  margin: auto;
}

.weatherInfoText{
  font-size: 1.4rem;

}

#icon1{
  margin: auto;
  display: block;
}
