/////////Weather/////////
.weatherInfo{
  text-align: center;
}

canvas{
  display: block;
  margin: auto;
}

.weatherInfoText{
  font-size: 1.8rem;
  color: var(--header-font-color);
}

#icon1{
  height: 12rem;
  margin: auto;
  display: block;
}

/////////Reminders/////////
.todays-reminders-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  background-color: #fafafa;
  z-index: 0;
}

.todays-reminders-container > h4{
  margin-left: 20px;
}

.todays-reminders{
  border-top: 1px solid #dadada;
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  display: block;

  font-size: 1.3rem;
  list-style: none;
}
