.devise-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  background-image: linear-gradient(#24C6DC,#514A9D);
  overflow: hidden;
  padding-top: 5vh;
  z-index: -1;
}

.devise-content{
  width:80vw;
  height: 90vh;
  max-width: 1200px;
  overflow-y: scroll;
  padding: 50px;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin:auto;
}

.devise-title{
  font-weight: bold;
  user-select: none;
}

.devise-description{
  margin-bottom: 60px;
  display: block;
  overflow: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  text-align: justify;
}

.devise-log-in-sign-up-toggle{
  width: 100%;
  text-align: center;
}

.devise-log-in-sign-up{

  margin: 50px auto 0 auto;
}

#devise-log-in-button, #devise-sign-up-button{
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 20px;
  color: white;
  user-select: none;
}

@media only screen and (max-width: 640px) {
    #devise-log-in-button, #devise-sign-up-button {
        font-size: 1rem;
    }

    .devise-description{
      margin-bottom: 20px;
      padding-bottom: 10px;
    }

    .devise-content{
      padding: 20px;
    }
}

#devise-log-in-button{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-image: linear-gradient(#5eabd8,#3797CF);
  border-right: 1px solid white;
}

#devise-sign-up-button{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: linear-gradient(#808080,#AEAEAE);
  border-left: 1px solid white;
}

#devise-sign-up{
  display: none;
}
