.flashcard-edit{
  width: 80vw;
  margin: 0 auto 20px auto;
}

.edit-card{
  background-color: var(--bg-color);
  // margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.edit-title{
  margin-bottom: 50px;
}

.edit-input{
  font-size: 1.5rem;
  margin: 10px 0;
}

textarea.edit-input{
  height: auto;
}

.edit-term{
  font-weight: 900;
}

.edit-def{
  display: inline-block;
}

#darkModeToggle {
  margin-left: var(--palatte-padding-left);
  background-color: var(--footer-color);
  border-radius: 15px;
}

 input#add-card-button{
  margin: 10px 0;
  height: 39px;
  width: 25%;
  padding: 8px 0;
  float: right;
}

.add-card-input{
  float: left;
  width: 72%;
}

.deck-name:not(:focus){
  margin: 0;
  padding-left: 0
}
