div.startCards{
  margin: 50px auto;
  width: 25%;
  text-align: center;
  font-weight: 900;
  font-size: 1.4rem;
  color: lightgray;
}

.deck-tile{
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  border: 2px solid var(--notes-editor-border-color);
  border-radius: 10px;
  background-color: var(--card-bg-color);
}

div.deck-tile, .deck-tile > h2 {
  color: black;
}

#deck-selected{
  background-color: limegreen;
  color:white;
}

#start-study-flashcards{
  background-color: limegreen;
  color: white;
}

#edit-flashcards{
  color: black;
}

#start-study-flashcards:hover, #edit-flashcards:hover{
  color: steelblue;
}

.flashcard-deck-name{
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
}

.flashcard-add-new-icon{
  font-size: 4em;
  color: inherit;
}

.flashcard-add-new{
  background-color: lightgray;
  color:black;
}

.flashcard-add-new:hover{
  color:steelblue;
}

//////OLD STYLE IMPORTED

/////////Naxt and Back Buttons/////////
div.card-control{
  height:90vh;
  padding-top: 10vh;
  font-size: 10vw;
  color: var(--header-font-color);
}

i.card-control{
  width: 100%;
  text-align: center;
}
i.card-control:hover{
  color:steelblue;
}

/////////Flashcards and Mastery Buttons/////////
.cards-container{
  // grid-template-columns:100%;
  // width: 80vw;
  // float:left;
}

/////////Flashcards/////////
.flashcards{
  grid-column: 1 / span 1;
}

.flashcard{
  border: 2px solid var(--flashcard-border-color);
  border-radius: 10px;
  display: grid;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}

h1.card-text{
  margin: auto;
  font-size: 1.5rem;
  padding: 0 10px;
  user-select: text;
  color: black;
}

.term{
  border: #093145 8px solid;
}

.mastered{
  border: limegreen 8px solid;
}

.almost{
  border: #ffe38e 8px solid;
}

.learning{
  border: #FF0033 8px solid;
}

h1#term{
  background-color: #white;
  color: #093145;
  font-size: 2.25rem;
  font-weight: 900;
}

/////////Mastery Buttons/////////
.card-control-bar{
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  grid-column-gap: 1%;
  grid-template-columns: 1fr 1fr 1fr;
}

.mastery-button{
  background-color: white;
  margin: auto;
  font-size: 5vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color:white;
  font-weight: 800;
  width: 100%;
  user-select: none;
}
.mastery-button:hover{
  color:black;
}
.mastery-button:active{
  color:#dddddd;
}

#mastered-button{
  background-color: limegreen;//#81aa55; //#b2cf95;
}

#almost-button{
  background-color: #ffe38e;//#efcf6e;//#ffff66; //#fce6a3;
}

#learning-button{
  background-color: #FF0033; //salmon
}

/////////Toggle/////////
#toggle{
  position: absolute;
  left:92vw;
  top:50px;
  color:black;
  font-size: 5vw;
  color: var(--toggle-eye-color);
}

@media only screen and (max-width: 640px) {
  .flashcard-deck-name {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  div.card-control {
    font-size: 12vw;
  }
}
