.reminders{
  max-width: 800px;
  margin: auto;
}

.add-category{
  left: 0;
  margin: 0;
}

.add-category-input{
  margin: 30px 0 10px 0;
}

#add-category-button{
  width: 100%;
  margin: 0px;
}

h3{
  width: 100%;
}

.add-reminder-input{
  margin-top: 20px;
}

.slideout-text{
  margin: 0;
}

#slideout {
  margin: 0;
  padding: 0;
  width: 10px;
  position: fixed;
  top: 60px;
  left: 10px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner {
  position: fixed;
  top: 50px;
  left: -250px;
  padding: 10px;
  height: calc(100vh - 50px);
  width: 250px;
  background-color: #fafafa;
  border-right: 2px solid #333;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow-y: scroll;
}
#slideout:hover {
  left: 250px;
}
#slideout:hover #slideout_inner {
  left: 0;
}

.reminder-row{
  width: 100%;
  min-height: 40px;
  display: flex;
}

.reminder-item{
  border: solid #dadada;
  border-width: 1px 0 0 0;
  height: 38px;
  float:left;
  flex-grow: 1;
}

.reminder-item > input {
  margin:0;
  height: 36px;
  font-size: 1.2rem;
}

.reminder-controls{
  border: solid #dadada;
  border-width: 1px 0 0 0;
  padding: 4px 10px;
  line-height: 30px;
  height: 38px;
  text-align: right;
  float: right;
  display: flex;
}

.grid-x:last-of-type > .reminder-item, .grid-x:last-of-type > .reminder-controls{
border-width: 1px 0;
}

.first-reminder-category{
  font-size: 3rem;
  height: 70px;
}

.reminder-control-button{
  margin: 0 10px;
  height: 29px;
  position: relative;
  bottom: 0%;
  padding-top: 6px;
}

.reminder-cal-button:hover{
  background: -webkit-linear-gradient(#79b9e1, var(--steelblue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reminder-done-button:hover{
  background: -webkit-linear-gradient(#00ff00, limegreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reminder-completed-button-completed{
  background: -webkit-linear-gradient(#00ff00, limegreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reminder-completed-button-completed:hover{
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reminder-delete-button:hover{
  background: -webkit-linear-gradient(#ff4c4c, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flatpickr-input{
  width: 240px;
  margin-bottom: 10px;
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
  text-align: right;
  height:30px;
  margin-bottom: 0;
}

.flatpickr-input:hover{
  color: var(--steelblue);
}

@media only screen and (max-width: 640px) {
  .flatpickr-input {
    margin-left: 0px;
    width: 100%;
  }
}
