@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

:root {
  --bg-color: #FFF;
  --card-bg-color: #FFF;
  --header-font-color: #000;
  --notes-style-buttons-bg-color: #F1F1F1;
  --notes-editor-border-color: #E1E1E1;
  --flashcard-border-color: #000;
  --toggle-eye-color: #000;
  --steelblue: #4682b4;
}

body{
  margin:0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-size: cover;
  padding-right: 17px;
  overflow-x: hidden;
  background-color: var(--bg-color)
}

a{
  color:black;
}

#app{
  padding-top: 70px;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, label, a{
  user-select: none;
  color: var(--header-font-color)
}

/////////Nav Bar/////////
.top-bar{
  background-color: #093145; // #e6e6e6;
  width: 100vw;
  user-select: none;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 50px;
  position: fixed;
  top: 0;
  padding:0 8px;
}

.top-bar ul{
  background-color: rgba(255,255,255,0);
}

.top-bar-right > .menu > li {
  padding: 0.7rem 1.2rem;
}

li.nav-list-item{
  height: 50px;
  min-width: 30px;
}

ul.menu > li > a, #title-link,.nav-list-item, .nav-dropdown-item {
  font-size: 1.2rem;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  height: 50px;
  line-height: 28px;
}

.nav-dropdown-item > a{
  color: inherit;
}

#title-link{
  padding:0;
  font-size: 1.5rem;
}

ul.menu > li > a:hover, #title-link:hover, .nav-dropdown-item:hover,  .nav-list-item:hover{
  color: var(--steelblue);
}

.nav-active-link{
  border-bottom: 3px solid white;
}

.nav-dropdown{
  width: 100vw;
  background-color: #093145;
  text-align: center;
  position: fixed;
  top: 50px;
}
.nav-dropdown-item{
  border-top: 1px solid white;
  padding: 10px 0;
}

.nav-user-options{
  border-top: 3px solid white;
}

#nav-child{
  height: calc(100vh - 70px);
}
/////////Error Page/////////
div.error-page{
  width: 60vw;
  margin: auto;
  text-align: center;
}

h3.error-message > a{
  color: red;
}

h3.error-message > a:hover{
  color: --steelblue;
}

/////////Buttons/////////

.standard-green-button{
  margin: 20px 0;
  margin-left: 80%;
  width: 20%;
  background-color: limegreen;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  user-select: none;
}

.standard-green-button:hover{
  color: --steelblue;
}

/////////Flash Message/////////
.flash{
  width: 100vw;
  padding: 10px;
  text-align: center;
  background-color: green;
  font-weight: bold;
  color: white;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  top:0;
  left: 0;
  position: fixed;
  user-select: none;
}

.flash-alert{
  background-color: red;
}

.flash-alert-under-nav{
  top:50px;
}
