$background: #FFFFFF;
$blue: #37BECC;
$green: #84CE15;
$grey: #777777;
$light-blue: #E5F3F4;

// @import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
// @import url('https://fonts.googleapis.com/css?family=Exo|Gloria+Hallelujah|Indie+Flower|KoHo|Ubuntu:300,400,700');

:root {
  --bg-color: #FFF;
  /* @reasonCode green */
  --palatte-padding-left: 0px
}

body{
  margin:0;
  user-select: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;

  background-color: $background;
}

div{
  background-color: --bg-color;
}

a{
  color:black;
}

#app{
  margin-top: 70px;
}

/////////Nav Bar/////////
.top-bar{
  background-color: #093145; // #e6e6e6;
  width: 100vw;
  user-select: none;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 50px;
  position: fixed;
  top: 0;
}

.top-bar ul{
  background-color: rgba(255,255,255,0);
}

ul.menu > li > a, #title-link {
  font-size: 1.2rem;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  line-height: 22px;
}

#title-link{
  padding:0;
  font-size: 1.5rem;
}

ul.menu > li > a:hover, #title-link:hover {
  color: steelblue;
}

/////////Error Page/////////
div.error-page{
  width: 60vw;
  margin: auto;
  text-align: center;
}

h3.error-message > a{
  color: red;
}

h3.error-message > a:hover{
  color: steelblue;
}


/////////MBTA/////////
.mbta{
  width:40vw;
  margin-top: 30px;
}

.prediction{
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid black;
}

.weatherInfo{
  text-align: center;
}

canvas{
  display: block;
  margin: auto;
}

.weatherInfoText{
  font-size: 1.4rem;
}
